@model resume.Models.BlogItems

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpperTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpperTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateShared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateShared)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
